/* === General Page Style === */
body {
  background-color: #262733;
  color: white;
  text-align: center;
  margin: 0; 
}

/* === Links === */
a {
  color: #ff3030;
  text-decoration: none;
}

a:hover {
  color: #ac30ff;
  text-decoration: none;
}

/* === Texts and Images === */
h2 {
  color: #ffffff;
  font-family: 'Gill Sans MT';
  text-align: center;
}

p {
  color: white;
  font-family: 'Trebuchet MS';
}

img {
  display: block;
  margin: 0 auto;
}

/* === Navigation Bar === */
.navbar {
  background-color: #1a1b24;
  padding: 15px 0;
  width: 100%;
  margin: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 0 20px;
}

.nav a {
  color: #ff3030;
  font-family: "Gill Sans MT";
  font-weight: bold;
  text-decoration: none;
}

.nav a:hover {
  color: #ac30ff;
  text-decoration: none;
}