/* === General Page Style === */

body {
  background-color: #262733;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

/* === Links === */
a {
  color: #ff3030;
  text-decoration: none;
}

a:hover {
  color: #ac30ff;
  text-decoration: underline;
}

/* === Headings === */
h1 {
  color: #ff3030;
  font-family: "Times New Roman", serif;
  text-align: center;
}

li {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  display: inline;
  margin-right: 20px;
}

img {
  display: block;
  margin: 0 auto; /* optional: centers it */
}